.country{
    border: 2px solid greenyellow;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.countryVisited{
    background: #04541e7f;
}

.btn{
    padding: 10px;
    margin: 10px;
}